<body class="tci-faq-body">
<header>
    <div class="pageTitle">
        <h1 id="pageTitle">راهنمای سوالات متداول سامانه گیتا</h1>
    </div>
    <img src="../../../../content/images/faq/faq-image.jpg" alt="headerImage">

    <div class="search">
        <div class="search-flex">
            <div class="search-icon">
                <svg viewBox="0 0 20 30">
                    <path
                        d="M14.298,27.202l-3.87-3.87c0.701-0.929,1.122-2.081,1.122-3.332c0-3.06-2.489-5.55-5.55-5.55c-3.06,0-5.55,2.49-5.55,5.55 c0,3.061,2.49,5.55,5.55,5.55c1.251,0,2.403-0.421,3.332-1.122l3.87,3.87c0.151,0.151,0.35,0.228,0.548,0.228 s0.396-0.076,0.548-0.228C14.601,27.995,14.601,27.505,14.298,27.202z M1.55,20c0-2.454,1.997-4.45,4.45-4.45 c2.454,0,4.45,1.997,4.45,4.45S8.454,24.45,6,24.45C3.546,24.45,1.55,22.454,1.55,20z"></path>
                </svg>
            </div>
            <input type="text" id="searchInput" placeholder="جستجو...">
        </div>
    </div>
</header>
<div class="menu">
    <div class="menu-row1">
        <ol>
            <div class=child *ngFor="let ft of faqListTitle">
                <li><a href="{{ '#title-' + ft.id }}">{{ ft.title }}</a></li>
            </div>
        </ol>
    </div>
</div>

<div>
    <div *ngFor="let ft of faqListTitle;">
        <div class="container">
            <p class="lead" id="{{ 'title-' + ft.id }}"> {{ ft.title }}
                <a href="#pageTitle">بازگشت به فهرست</a>
            </p>
            <dl class="questions">
                <ng-container *ngIf="ft.id==-1;else second">
                    <div *ngFor="let col of faqList;index as i">
                        <div *ngIf="i <10">
                            <dt>{{ col.question }}</dt>
                            <dd>{{ col.answer }}</dd>
                        </div>
                    </div>
                </ng-container>
                <ng-template #second>
                    <div *ngFor="let col of faqList">
                        <div *ngIf="col.title === ft.title">
                            <dt>{{ col.question }}</dt>
                            <dd>{{ col.answer }}</dd>
                        </div>
                    </div>
                </ng-template>
            </dl>
        </div>
    </div>
</div>

<button (click)="onBackButton()" class="main-sticky-back-button-faq"> بازگشت به صفحه اصلی</button>

<!--    menu -->
    <!--    <div class="menu-row1">-->
    <!--        <ol>-->
    <!--            <li><a href="#Login">ورود</a></li>-->
    <!--            <li><a href="#High-level-design"> طراحی سطح بالا </a></li>-->
    <!--            <li><a href="#Low-level-design">طراحی سطح پایین</a></li>-->
    <!--        </ol>-->
    <!--    </div>-->
    <!--    <div class="menu-row2">-->
    <!--        <ol start="4">-->
    <!--            <li><a href="#Graph">گراف</a></li>-->
    <!--            <li><a href="#Reports">گزارشات</a></li>-->
    <!--            <li><a href="#Punctuation">نقطه زنی عارضه</a></li>-->
    <!--        </ol>-->
    <!--    </div>-->
    <!--    <div class="menu-row3">-->
    <!--        <ol start="7">-->
    <!--            <li><a href="#FAT">FAT</a></li>-->
    <!--            <li><a href="">نوار منوی افقی</a></li>-->
    <!--            <li><a href="">OCD</a></li>-->
    <!--        </ol>-->
    <!--    </div>-->




<!--<div id="searchResults"></div> &lt;!&ndash; نتایج جستجو &ndash;&gt;-->


<!--&lt;!&ndash;  ورود &ndash;&gt;-->
<!--<div class="container">-->

<!--    <p class="lead" id="Login">ورود-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->


<!--    <dl class="questions">-->
<!--        <dt>نحوه ی ورود به سامانه</dt>-->
<!--        <dd>امروزه آگاهی، مجموعه ای از علوم دقيق بوده که در زمان معين ارائه می شوند تا مقدمه ای برای اخذ-->
<!--            تصميمات استراتژیک باشند و به چشم اندازهای اصلی سازمان، هدف و عمق بخشند . نبود سامانه های تصميم-->
<!--            ساز و تبدیل اطالعات به هوش ، باعث گردیده مدیران با انبوه اطالعات مواجه گردند و نتوانند درک درستی از-->
<!--            وضعيت پيرامونی خود داشته باشند. بسياری از اطالعات در قالب اسناد و بولتن )بهصورت روزانه، هفتگی ،-->
<!--            ماهانه و...( در اختيار مدیران قرار می گيرد که این اطالعات فاقد تحليل، راهبرد و یا راهکار موثر است. ضمنا-->
<!--            نبود سامانه های مدیریت دانش در سطح سازمان، باعث گردیده تا نتوان از تجربيات ارزشمند افراد با تجربه در-->
<!--            شرایط مختلف در کمترین زمان، بهره برداری نمود.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->

<!--</div>-->

<!--&lt;!&ndash; طراحی سطح بالا &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead" id="High-level-design"> طراحی سطح بالا-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>المان در طراحی اضافه کرده ایم ولی وضعیت را در LOM موجود میزند؟</dt>-->
<!--        <dd>در صورتیکه باکس قرمز که نشان دهنده شماره طرح شماست بالای صفحه روشن نباشد هرگونه نقطه زنی المان و درج اطلاعات-->
<!--            به عنوان درج داده های قبلی () قلمداد میکند.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->

<!--</div>-->


<!--&lt;!&ndash; طراحی سطح پایین &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead" id="Low-level-design"> طراحی سطح پایین-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>نحوه ی ورود به سامانه</dt>-->
<!--        <dd>امروزه آگاهی، مجموعه ای از علوم دقيق بوده که در زمان معين ارائه می شوند تا مقدمه ای برای اخذ-->
<!--            تصميمات استراتژیک باشند و به چشم اندازهای اصلی سازمان، هدف و عمق بخشند . نبود سامانه های تصميم-->
<!--            ساز و تبدیل اطالعات به هوش ، باعث گردیده مدیران با انبوه اطالعات مواجه گردند و نتوانند درک درستی از-->
<!--            وضعيت پيرامونی خود داشته باشند. بسياری از اطالعات در قالب اسناد و بولتن )بهصورت روزانه، هفتگی ،-->
<!--            ماهانه و...( در اختيار مدیران قرار می گيرد که این اطالعات فاقد تحليل، راهبرد و یا راهکار موثر است. ضمنا-->
<!--            نبود سامانه های مدیریت دانش در سطح سازمان، باعث گردیده تا نتوان از تجربيات ارزشمند افراد با تجربه در-->
<!--            شرایط مختلف در کمترین زمان، بهره برداری نمود.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->
<!--</div>-->


<!--&lt;!&ndash; گراف &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead" id="Graph"> گراف-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>نحوه ی ورود به سامانه</dt>-->
<!--        <dd>امروزه آگاهی، مجموعه ای از علوم دقيق بوده که در زمان معين ارائه می شوند تا مقدمه ای برای اخذ-->
<!--            تصميمات استراتژیک باشند و به چشم اندازهای اصلی سازمان، هدف و عمق بخشند . نبود سامانه های تصميم-->
<!--            ساز و تبدیل اطالعات به هوش ، باعث گردیده مدیران با انبوه اطالعات مواجه گردند و نتوانند درک درستی از-->
<!--            وضعيت پيرامونی خود داشته باشند. بسياری از اطالعات در قالب اسناد و بولتن )بهصورت روزانه، هفتگی ،-->
<!--            ماهانه و...( در اختيار مدیران قرار می گيرد که این اطالعات فاقد تحليل، راهبرد و یا راهکار موثر است. ضمنا-->
<!--            نبود سامانه های مدیریت دانش در سطح سازمان، باعث گردیده تا نتوان از تجربيات ارزشمند افراد با تجربه در-->
<!--            شرایط مختلف در کمترین زمان، بهره برداری نمود.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->
<!--</div>-->


<!--&lt;!&ndash; گزارشات &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead" id="Reports"> گزارشات-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>نحوه ی ورود به سامانه</dt>-->
<!--        <dd>امروزه آگاهی، مجموعه ای از علوم دقيق بوده که در زمان معين ارائه می شوند تا مقدمه ای برای اخذ-->
<!--            تصميمات استراتژیک باشند و به چشم اندازهای اصلی سازمان، هدف و عمق بخشند . نبود سامانه های تصميم-->
<!--            ساز و تبدیل اطالعات به هوش ، باعث گردیده مدیران با انبوه اطالعات مواجه گردند و نتوانند درک درستی از-->
<!--            وضعيت پيرامونی خود داشته باشند. بسياری از اطالعات در قالب اسناد و بولتن )بهصورت روزانه، هفتگی ،-->
<!--            ماهانه و...( در اختيار مدیران قرار می گيرد که این اطالعات فاقد تحليل، راهبرد و یا راهکار موثر است. ضمنا-->
<!--            نبود سامانه های مدیریت دانش در سطح سازمان، باعث گردیده تا نتوان از تجربيات ارزشمند افراد با تجربه در-->
<!--            شرایط مختلف در کمترین زمان، بهره برداری نمود.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->
<!--</div>-->


<!--&lt;!&ndash; نقطه زنی عارضه &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead" id="Punctuation"> نقطه زنی عارضه-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>نحوه ی ورود به سامانه</dt>-->
<!--        <dd>امروزه آگاهی، مجموعه ای از علوم دقيق بوده که در زمان معين ارائه می شوند تا مقدمه ای برای اخذ-->
<!--            تصميمات استراتژیک باشند و به چشم اندازهای اصلی سازمان، هدف و عمق بخشند . نبود سامانه های تصميم-->
<!--            ساز و تبدیل اطالعات به هوش ، باعث گردیده مدیران با انبوه اطالعات مواجه گردند و نتوانند درک درستی از-->
<!--            وضعيت پيرامونی خود داشته باشند. بسياری از اطالعات در قالب اسناد و بولتن )بهصورت روزانه، هفتگی ،-->
<!--            ماهانه و...( در اختيار مدیران قرار می گيرد که این اطالعات فاقد تحليل، راهبرد و یا راهکار موثر است. ضمنا-->
<!--            نبود سامانه های مدیریت دانش در سطح سازمان، باعث گردیده تا نتوان از تجربيات ارزشمند افراد با تجربه در-->
<!--            شرایط مختلف در کمترین زمان، بهره برداری نمود.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->
<!--</div>-->


<!--&lt;!&ndash; FAT &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead" id="FAT"> FAT-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>فیلد وضعیت و نوع را در ویرایش عارضه لایه FAT نمیبینم؟</dt>-->
<!--        <dd>برای اجرای این فیلتر از منوی همبرگری جستجوی پیشرفته را انتخاب کنید،فیلد دراپ داون اول:جستجو بر اسا فیلتر،-->
<!--            فیلتر دراپ داون دوم : لایه FAT را انتخاب میکنیم با افزودن 2 فیلتر وضعیت نوع و اعمال فیلتر در این محیط انجام-->
<!--            شده و به صفحه ویرایش عارضه انتقال میابد،میتوانید مابقی انتخابها را در این محیط داشته باشید.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار مرز داشته باشيم باید مرکزم ورد نظرکه عارضه مطعلق به آن مرز است را فعال-->
<!--            کنيم در غير این صورت اکر عارضه داخل مرکز ميباشد نياز به این مرحله نبوده و با کليک روی مرز مرکز-->
<!--            فعال خواهد شد. ز نوار پایين صفحه روی مرکزفعال کليک ميکنيم در کادر نمایش داده شده اطالعات را وارد ميکينم-->
<!--            ذخيره و-->
<!--            انتقال را ميزنيم-->
<!--        </dd>-->
<!--    </dl>-->
<!--</div>-->


<!--&lt;!&ndash; نوار منوی افقی &ndash;&gt;-->
<!--<div class="container">-->


<!--    <p class="lead"> نوار منوی افقی-->
<!--        <a href="#pageTitle">بازگشت به فهرست</a>-->
<!--    </p>-->

<!--    <dl class="questions">-->
<!--        <dt>نحوه ی ورود به سامانه</dt>-->
<!--        <dd>امروزه آگاهی، مجموعه ای از علوم دقيق بوده که در زمان معين ارائه می شوند تا مقدمه ای برای اخذ-->
<!--            تصميمات استراتژیک باشند و به چشم اندازهای اصلی سازمان، هدف و عمق بخشند . نبود سامانه های تصميم-->
<!--            ساز و تبدیل اطالعات به هوش ، باعث گردیده مدیران با انبوه اطالعات مواجه گردند و نتوانند درک درستی از-->
<!--            وضعيت پيرامونی خود داشته باشند. بسياری از اطالعات در قالب اسناد و بولتن )بهصورت روزانه، هفتگی ،-->
<!--            ماهانه و...( در اختيار مدیران قرار می گيرد که این اطالعات فاقد تحليل، راهبرد و یا راهکار موثر است. ضمنا-->
<!--            نبود سامانه های مدیریت دانش در سطح سازمان، باعث گردیده تا نتوان از تجربيات ارزشمند افراد با تجربه در-->
<!--            شرایط مختلف در کمترین زمان، بهره برداری نمود.-->
<!--        </dd>-->
<!--        <dt>نقطه زنی عارضه های مخابراتی</dt>-->
<!--        <dd>در این آموزش هدف این است که به ازاء هر عارضه وتجهيز مخابراتی که در سامانه وجود دارد یک نقطه روی-->
<!--            نقشه با مختصات جغرافيایيمشخص اختصاص داده شود.-->
<!--            -6.1 روش نقطه زنی ساختمان-->
<!--            ابتدا محيط کاری ایجاد شده را انتخاب می کنيم-->
<!--        </dd>-->
<!--        <dt>گزارشات سامانه</dt>-->
<!--        <dd>Answer 3</dd>-->
<!--        <dt> ایجاد دسترسی برای کاربرهای سامانه گیتا</dt>-->
<!--        <dd>بتدا به آدرس ir.tci.sso وارد شده و با یوزر و پسورد گيتا الگين نمایيد.-->
<!--            ایجاد دسترسی کاربردر دو مرحله انجام ميشود .-->
<!--            الف( تعریف سمت کاربری از منو" مدیریت کاربر"-->
<!--            ب( محدود کردن دسترسی کاربر به شهرستان ، شهر و مراکزی که حوزه کاری ایشان ميباشد از منو-->
<!--            "دسترسی به مرکز مخابرات"-->
<!--            درخصوص کاربرهایی که در حال حاضر دسترسی به سامانه دارند فقط مرحله دوم یعنی محدود کردن-->
<!--            دسترسی به شهر یا شهرستان و یا مرکز برای کاربر انجام می شود.-->
<!--        </dd>-->
<!--        <dt>روش فعال سازی مرزخدماتی</dt>-->
<!--        <dd>بتدا اگر نقطه زنی خارج ار-->
<!--            مجید و منصور-->
<!--        </dd>-->
<!--    </dl>-->
<!--</div>-->


</body>
